
<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/theme.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Ryan Paul</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active" active><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/student" target="_blank">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas" target="_blank">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses" target="_blank">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					
					<h1>I will demo my HTML page</h1>
                    <p><a href="#Tables"> Tables</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#Lists">Lists</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#Images">Images</a> &nbsp;&nbsp; | &nbsp;&nbsp;  
                        <a href="#Audio">Audio</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="#Video">Video</a> &nbsp;&nbsp; | &nbsp;&nbsp;</p>

                    <div id="Tables" class="w3-panel w3-border w3-border-red">
                        <h3>My Tables</h3>
                        <table class="w3-table w3-striped">
                            <tr>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Points</th>
                            </tr>
                            <tr>
                              <td>Jill</td>
                              <td>Smith</td>
                              <td>50</td>
                            </tr>
                            <tr>
                              <td>Eve</td>
                              <td>Jackson</td>
                              <td>94</td>
                            </tr>
                            <tr>
                              <td>Adam</td>
                              <td>Johnson</td>
                              <td>67</td>
                            </tr>
                          </table>
                    </div>

                    <div id="Lists" class="w3-panel w3-border w3-border-red">
                        <h3>My Lists</h3>
                        
                        <p> Some places in the Philippines with best view of nature</p>
                        <ol>
                        <li>Quezon Province</li>
                        <li>Antipolo, Rizal</li>
                        <li>Nausgbu, Batangas</li>
                        <li>CDO , Mindanao</li>
                        <li>Naic, Cavite</li>
                        </ol>

                        <p> Some of the best places in the Manila:</p>
                        <ul>
                        <li>Manila Museum</li>
                        <li>Rizal Park</li>
                        <li>Luneta</li>
                        <li>Divisoria</li>
                        <li>Binondo</li>
                        </ul>
                       
                    </div>

                    <div id="Images">
                        <h3>My Images</h3>

                        <div class="img1">								  
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" width="1110" height="500" alt="film1">
                            <p></p>
                        </div>
                        <div class="img2">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" width="1110" height="500" alt="film2">
                            <p></p>
                        </div>
                        <div class="img3">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" width="1110" height="500" alt="film3">
                            <p></p>
                        </div>

                    </div>

                    <div id="Audio">
                        <h3>My Audio</h3>
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/451715244&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        <div
                            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                            <a href="https://soundcloud.com/lauvsongs" title="Lauv" target="_blank"
                                style="color: #cccccc; text-decoration: none;">Lauv</a> · <a href="https://soundcloud.com/lauvsongs/never-not-2"
                                title="Never Not" target="_blank" style="color: #cccccc; text-decoration: none;">Never Not</a>
                     </div>
					

                     <div id="Video">
                        <h3>My Video</h3>
                        <iframe width="1110" height="500" src="https://www.youtube.com/watch?v=AcUeZimIVTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                     </div>
					

                     <footer>
                    <br/>
                        <p>This ends my htmlDemo.</p>
                     </footer>
					



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>